 @media screen and (min-width:1024px) and (max-width:1440px){
    .bg4 {
        background-color: #172326;
        height: 50vh;
    }
    .paragraphs h4 {
        font-size: 40px;
        font-family: inherit;
        font-weight: 400;
    }
 }

 @media screen and (min-width:768px) and (max-width:1023px){
    #logo{
        width: 100%;
    }
    .paragraphs h4 {
        font-size: 35px;
        font-family: inherit;
        font-weight: 400;
    }
    .bg-text h3 {
        text-align: center;
        color: white;
        line-height: 50px;
        font-size: 19px;
    }
    .bg-text .btn1 {
        text-decoration: none;
        padding: 8px;
        color: black;
        width: 14%;
        position: absolute;
        margin-top: 50PX;
        margin-left: -50px;
        background-color: #FFDD42;
        font-weight: 500;
        border-radius: 6px;
    }
    .picbox3 .btn {
        background-color: #626E73;
        color: white;
        font-weight: 500;
        width: 18%;
        border-radius: 6px;
    }
    .bg3 .btn {
        width: 18%;
        background-color: #626E73;
        color: white;
        font-weight: 500;
        margin: auto;
    }
    .footer1 p {
        color: white;
        font-size: 13px;
    }
    #input {
        background-color: #172326;
        border: none;
        outline: none;
        color: white;
        width: 100%;
    }
    .bg4 {
        background-color: #172326;
        height: 50vh;
    }
 }
 @media screen and (min-width:425px) and (max-width:768px)
 {
    #colorchange{
        height: 120vh;
    }
    
    #logo{
        text-align: center;
        width: 100%;
    }
    .nav-item .btn {
        border: 1px solid black;
        background-color: black;
        color: white;
        font-weight: 600;
        padding: 5px;
    }

    .paragraphs h4 {
        font-size: 25px;
        font-family: inherit;
        font-weight: 400;
        text-align: center;
        margin: 0px;
    }
    .nav-item .nav-link {
        color: black;
        font-weight: 500;
        font-size: 11px;
        /* justify-content: left; */
    }
    .nav-item .btn{
        font-size: 11px;
    }
    .bg-text h3 {
        text-align: center;
        color: white;
        line-height: 50px;
        font-size: 19px;
    }
    .bg-text .btn1 {
        text-decoration: none;
        padding: 8px;
        color: black;
        width: 23%;
        position: absolute;
        margin-top: 50PX;
        margin-left: -50px;
        background-color: #FFDD42;
        font-weight: 500;
    }
    .bg-text {
        text-align: center;
        height: 56vh;
    }
    .picbox1{
        display: none;
    }
    .picbox2{
        display: none;
    }
    .picbox3 .btn {
        background-color: #626E73;
        color: white;
        font-weight: 500;
        width: 35%;
    }
    .bg3 .btn {
        width: 35%;
        background-color: #626E73;
        color: white;
        font-weight: 500;
        margin: auto;
    }
    .bg4 {
        background-color: #172326;
        height: 90vh;
    }
    .footer3 p {
        color: white;
        text-align: center;
    }
    .email {
        display: flex;
        border: 1px solid gray;
        /* text-align: end; */
        justify-content: space-around;
        width: 70%;
        height: 7vh;
        text-align: center;
        margin-left: 50px;
    }
    .footer4 a{
        display: none;
    }
    .footer4 .span{
        display: block;
        text-align: center;
    }

 }